* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
} 

body {
    margin: 0 auto;
}

main {
    display: block;
  }

.container {
    max-width: 1440px;
    margin: 0 auto;
}  

img {
    border-style: none;
}


/* HEADER */

header {
    display: block;
    background-color: #EDF2EC;
}

div.header__container {
    max-width: 1222px;
    margin: 0 auto;
}


li {
    list-style: none;
}

.header__navbar-item {
    display: flex;
    justify-content: space-between;
    padding: 42px 50px;
}

.header__logo {
    display: flex;
}

.header__logo p {
  display: flex;
  align-items: center;
  font-family: Inika;
  font-size: 16px;
  font-weight: 400;
  line-height: 21px;
  text-align: left;

}

.header__logo img {
    width: 20px;
    height: 20px;
    align-self: center;
}

ul.header__nav {
    display: flex;
    justify-content: space-between;
    align-items: left;
    padding-left: 0px;
}

.header__nav-item{
    display: flex; 
    padding-right: 46px;
}

.header__nav-item:last-child {
    padding-right: 0px;
}

a {
    font-family: Inika;
    font-size: 16px;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
    white-space: nowrap;
    text-decoration: none;
    color: #010201;
    font-weight: 400;
}

a:hover {
    color: #E06733;
    font-weight: 700;
}

img.burger {
    display: none;
}







/* WELCOME */


.main {
    display: block;
    
}

section {
    display: block;
    margin: 0 auto;
    
}

.section__background_green {
    background-color: #EDF2EC;
}

.section__background_white {
    background-color: #FFFFFF;
}


.section__welcome {
    display: flex;
    justify-content: space-between;
    max-width: 1222px;
    margin: 0 auto;
    padding: 62px 50px 62px 50px;
    background-color: #EDF2EC;
}

div.section_picture-welcome {
    width: 400px;
    background-image: url("./assets/png/leafs_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color:  #EDF2EC
}


.section__text {
    max-width: 549px;
}

h1 {
    font-family: Inter;
    font-size: 45px;
    font-weight: 700;
    line-height: 50px;
    color: #717171;
}

.section__text p {
    max-width: 525.44px;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 35px;
    text-align: left;
    color: #636060;
    margin-top: 42px;
    max-width: 526px;
}


.section__text .button {
    margin-top: 48px;
    width: 158px;
    height: 44px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    border: 2px solid #E06733;
    border-radius: 10px;
    background-color: transparent;
    
}

.button {
    color: #E06733;
}

.button:hover {
    background-color: #E06733;
    color: #EDF2EC;
    cursor: pointer;
}










/* ABOUT */


.section__about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1222px;
    padding: 93px 50px;
    margin: 0 auto;
    background: #FFFFFF;
}

.section__text-about {
    display: flex;
    flex-direction: column;
    padding-right: 40px;
}

div.section_picture-about {
    display: flex;
    align-items: flex-end;
    width: 428px;
    height: 428px;
    background-image: url("./assets/png/houseplant_2.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color:  #FFFFFF;
}

.section__text-about h2 {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 52px;
    margin-bottom: 40px;
}

.section__text-about p {
    max-width: 605px;
    left: 109px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #636060;
}

/* SERVICE */

.section__service {
    background-color: #EDF2EC;
    max-width: 1222px;
    margin: 0 auto;
    padding: 40px 50px 121px 50px;
}


.section__service-header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 90px;
}


.section__service-header h2 {
    max-width: 306px;
    font-family: Inika;
    font-size: 40px;
    font-weight: 400;
    line-height: 52px;
    text-align: left;
    font-style: normal;
    color: #499A18;   
}

.section__service-button-header {
    padding-top: 29px ;
    display: flex;
    max-width: 559px;
}


.section__service-button {
    justify-content: flex-end;
    height: 50px;
    width: 161px;
    margin-right: 38px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: transparent;

    /* text */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
    
}

.section__service-button:last-child {
    margin-right: 0px;
}

.section__service-button:hover {
    background-color: #E06733;
    color: #FFFFFF;
}

.section__service-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section__service-content-blocks {
    padding-bottom: 55px;
    width: 338px;
}


.section__service-text {
    border: 1px solid #E3E1D5;
    border-radius: 0px 0px 20px 20px;
    margin-top: -4px;
    padding-top: 20px;
    padding-bottom: 20px;
}


.section__service-text-header {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #E06733;
    text-align: center;
    padding-bottom: 10px;
    padding-top: 10px;
}

.section__service-text-description {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #717171;
    text-align: center;
}


 





/* PRICE */

.section__price {
    display: flex;
    justify-content: space-between;
    max-width: 1222px;
    margin: 0 auto;
    padding: 40px 50px 115px 50px;
    background-color: #FFFFFF;
}

.section__price-select-tariff h2 {
    max-width: 451px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: #000000;
}


.section__price-accordion-block {
    box-sizing: border-box;
    max-width: 332px;
    margin-top: 60px;
    border: 1px solid #E3E1D5;
    border-radius: 20px;
}

.section__price-accordion {
    max-width: 250px;
    /* height: 214px; */
    margin: 34px 41px;
}

.section__price-accordion-button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 250px;
    height: 50px;
    background: #EDF2EC;
    border-radius: 20px;
    margin-bottom: 32px;
    border: none;
}

.section__price-accordion-button p {
    width: 100px;
    height: 18px;
    padding-left: 40px;
    padding-top: 16px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 20px;
    color: #000000;
    text-align: left;
}

.section__price-accordion-button:hover{
    cursor: pointer;
}

.section__price-accordion-button_s {
    display: flex;
    justify-content: center;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #D9D9D9;
    margin-right: 40px;
    margin-top: 17px;
    
}

.section__price-header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    max-width: 451px;
}

.section__price-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.section__price-title h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: right;
    color: #000000;
}

.section__price-button {
    width: 162px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 1px solid #E06733;
    border-radius: 5px;
    background-color: transparent;
    margin-top: 38px;
   
    /* text */
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    color: #E06733;
}

.section__price-picture {
    background-image: url("./assets/png/leafs_3.png");
    width: 152px;
    height: 191px;
    margin-top: 40px;
    background-repeat: no-repeat;
    background-size: contain;
    background-color:  #FFFFFF;

}

.section__price-button:hover {
    background-color: #E06733;
    color: #FFFFFF;
}


/* 
div.open_block_basic {
    display: none;
}

.opened {
    display: none;
}

div.opened {
    height: 154px;
    width: 250px;
    border-radius: 20px;
    background-color: #D6E7D2;
}


.open-basics-arrow {
    display: flex;
    justify-content: space-between;
    height: 18px;
    width: 170px;    
    font-family: Inter;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
    text-align: left;
    color: #000000;
    margin: 0 auto;
    padding-top: 16px;

}


.divider {
    width: 164px;
    height: 0.5px;
    margin: 12px 40px 6px 40px;
    background-color: #AEA1A1;
}


.about-price {
    height: 30px;
    width: 169px;
    font-family: Inter;
    font-size: 10px;
    font-weight: 300;
    line-height: 10px;
    text-align: left;
    color: #717171;
    margin: 0 auto;
}

.price-per-hour {
    height: 17px;
    width: 123px;
    font-family: Inter;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    margin-left: 40px;
    margin-top: 6px;
    margin-bottom: 12px;
}

.price-per-hour span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #E06733;
}

button.order {
    height: 25px;
    width: 86px;
    border-radius: 10px;
    border: none;
    font-family: Inter;
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: center;
    color: #717171;
    margin-left: 40px;
    cursor: pointer;
} */





/* CONTACTS */

.section__contact {
    max-width: 1222px;
    margin: 0 auto;
    background-color: #EDF2EC; 
}

.contact__title { 
    padding: 60px 20px 0px 20px;
    max-width: 240px;
    margin: 0 auto;
    text-align: center;
    font-family: 'Inika';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    color: #499A18;
}

.section__contact-address {
    display: flex;
    justify-content: space-between;
    padding-left: 50px;
    padding-right: 50px;
}

.section__contact-address img{
    width: 400px;
    margin-top: -58px;
    padding-left: 109px;
}

.section__contact-form {
    display: flex;
    justify-content: space-between;
    width: 450px;
    height: 50px;
    margin-right: 109px;
    margin-top: 35px;
    background-color: #D6E7D2;
    padding: 5px 35px 5px 20px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;

    /* text */
    text-align: left;
    color: #717171;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: 0.05em;
}

.section__contact-form:hover{
    cursor: pointer;
}


.section__contact-form::after {
    content: "";
    display: flex;
    justify-content: space-between;
    text-align: center;
    width: 16px;
    height: 16px;
    border-radius: 100%;
    background: #d9d9d9;
    margin-top: 12px;
    margin-bottom: 10px;
}



/* FOOTER */

.footer {
    background: #FFFFFF;
}

.footer__container {
    display: flex;
    justify-content: space-between;
    max-width: 1222px;
    align-items: center;
    padding: 40px 50px;
    margin: 0 auto;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;

}

.footer__date-info {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 169px;
    
    /* text */
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 50px;
    letter-spacing: 0em;
    text-align: left;
}

.footer__container a {
    margin: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: left;
}

.footer__social-list {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 188px;
}




/* MEDIA */


@media screen and (max-width: 768px){
  
    /* HEADER 768px */

    header {
        max-width: 768px;
    }
    
    div.header__container {
        max-width: 768px;
        margin: 0 auto;
    }
    
    .header__navbar-item {
        max-width: 668px;
        /* height: 47px; */
        padding: 35px 50px;
        margin: 0 auto;
    }
    


/* WELCOME 768px*/

section {
    display: block;
    max-width: 768px;
}

.section__welcome {
    flex-direction: row-reverse;
    max-width: 768px;  
}

div.section_picture-welcome {
    width: 280px;
    margin-top: 0;
    margin-right: 0;
    background-image: url("./assets/png/leafs_1.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-color:  #EDF2EC
}


.section__text {
    max-width: 346px;
    margin: 0;
}

h1 {
    max-width: 341px;
    font-size: 35px;
    line-height: 50px;
    text-align: left;
}

.section__text p {
    max-width: 341px;
    font-size: 16px;
    line-height: 25px;
    margin-top: 30px;
}


.section__text .button {
    margin-top: 30px;
}


/* ABOUT 768px*/

.section__about {
    max-width: 768px;
    flex-direction: column;
    align-items: center;
    padding: 40px 50px 94px 50px;
}

.section__text {
    max-width: 668px;  
    margin: 0 auto;
}

div.section_picture-about {
    width: 250px;
    height: 258px;
}

.section__text-about h2 {
    max-width: 423px;
    font-size: 35px;
    line-height: 46px;
    text-align: center;
    margin: 0 auto;

}

.section__text-about p {
    max-width: 568px;
    margin-top: 40px;
    margin-bottom: 40px;
}

    
/* SERVICE 768px*/


.section__service {
    max-width: 768px;
}

.section__service-header {
    flex-flow: column;
    max-width: 559px;
    padding: 0px 159px 40px 0px;
}


.section__service-header h2 {
    font-size: 35px;
    line-height: 45px;
    padding-bottom: 40px;
}

.section__service-button-header {
    max-width: 559px;
    margin-left: 0px;
    padding-top: 0;
}

.section__service-content {
    max-width: 668px;
}

.section__service-content-blocks {
    max-width: 281px;
    padding-bottom: 38px;
}

.section__service-content-blocks img {
    max-width: 281px;
}


  
/* PRICE 768px */

    .section__price {
        max-width: 768px;
        justify-content: space-between;
        padding: 40px 50px 88px 50px;
    }


    .section__price-select-tariff h2{
        max-width: 135px;
        font-size: 35px;
        text-align: center;
    }

    .section__price-accordion-block {
        margin-top: 50px;
    }

    .section__price-header  {
        max-width: 296px;
        padding-left: 40px;
        padding-top: 99px;
    }

    .section__price-title h2{
        max-width: 296px;
        padding-bottom: 22px;

        /* text */
        font-size: 25px;        
        line-height: 35px;
        letter-spacing: 0em;
        text-align: left;
    }
    

    .section__price-button {
        width: 162px;
        height: 50px;
        margin: 0;
    }
    
    .section__price-picture {
        width: 152px;
        height: 175px;
        margin: 0;
        margin-top: 34px;
    }




/* CONTACTS  768px*/

    .section__contact {
        max-width: 768px;
    }

    .contact-title {
        padding-top: 40px;
    }

    .section__contact-address {
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
        margin-top: 100px;
        align-items: center;
    }

    .section__contact-address img{
        height: 248px;
        width: 200px;
        padding-left: 17px;
        margin-top: 249px;

    }

    .section__contact-form {
        margin-top: 0;
        margin-right: 0;
    }



 /* FOOTER  768px*/

    .footer__container {
        max-width: 768px;
        flex-direction: column;
        width: 210px;
        margin: 0 auto;
        justify-content: center;
        padding-top: 33px;
        line-height: 24px;
        align-items: center;
        text-align: center;
    }

    .footer__date-info {
        display: flex;
        justify-content: space-between;
        width: 173px;
    }

    .footer__date-info p{
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        padding: 0;        
    }

    .footer__date-info a{
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        font-weight: 400;
        text-align: left;
        padding: 0;        
    }

}


/* MEDIA 380*/

@media screen and (max-width: 380px){

/* HEADER 380px*/

    header {
        display: block;
        max-width: 380px;
    }
    
    div.header__container {
        max-width: 380px;
        margin: 0 auto;
    } 
    
    ul.header__nav {
        display: none;
    }

    img.burger {
        display: block;
        height: 24px;
        width: 40px;
        color: #717171;
    }

    .header__navbar-item {
        max-width: 330px;
        margin: 0 auto;
        padding: 36px 0;
    }
    
    .logo {
        width: 77px;
    }
    
    .logo p {
      width: 56px;
      text-align: left;
    
    }




/* WELCOME 380 */

    section {
        max-width: 380px;
    }
    
    .section__welcome {
        flex-flow: column;
        justify-content: center;
        max-width: 330px;
        padding: 24px 0 24px 0;
    }
    
    .section_picture-welcome {
       display: none;
    }
    
    .section__text {
        max-width: 330px;
        padding-right: 0;
    }
    
    .section__text h1 {
        font-size: 25px;
        line-height: 35px;
        height: 72px;
        max-width: 330px;
    }

    .section__text p {
        max-width: 314px;
        font-size: 16px;
        line-height: 25px;
        margin: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .section__text .button {
        margin: 0;
        width: 100px;
        height: 34px;
        font-size: 10px;
        line-height: 20px;     
    }

    



/* ABOUT 380 */

    .section__about {
        justify-content: center;
        max-width: 330px;
        padding: 30px 0x 31px 0px;
        margin: 0;
    }

    .section__text-about {
        max-width: 330px;
        margin: 0 auto;
    }

    .section__text-about h2 {
        max-width: 288px;
        margin: 0 auto;
        font-size: 25px;
        line-height: 32px;
    }

    .section__text-about p {
        max-width: 330px;
        padding-top: 22px;
        margin: 0 auto;

        /* text */
        font-size: 15px;
        line-height: 25px;
        text-align: left;
    }

    div.section_picture-about {
        width: 147px;
        height: 150px;
        margin: 0 auto;
    }



/* SERVICE 380 */

.section__service {
    max-width: 380px;
    margin: 0 auto;
    padding-top: 30px;
}
    

.section__service-header {
    padding: 0 0 40px 0;
    display: flex;
    flex-flow: column;
    max-width: 252px;
}


.section__service-header h2 {
    width: 187px;
    padding-bottom: 35px;
    font-size: 25px;
    line-height: 32px;
}


.section__service-button-header {
    display: flex;
    flex-wrap: wrap;
    width: 252px;
    padding: 0px;
}


.section__service-button {
    justify-content: flex-start;
    height: 35px;
    width: 121px;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    margin: 0;
    padding: 8px 28px 7px 28px;
}

.section__service-button:first-child {
    margin-right: 10px;
    margin-bottom: 9px;
}


.section__service-content {
    max-width: 280px;
    padding-bottom: 27px;
    margin-left: 24px;
}

.section__service-content-blocks img {
    width: 258px;
}


.section__service-content-blocks {
    width: 258px;
    margin: 0px;
    padding-bottom: 34px;
}

.section__service-content-blocks:last-child {
    padding-bottom: 0px;
}








/* PRICE 380 */

.section__price {
    flex-direction: column;
    max-width: 230px;
    padding: 40px 25px 88px 25px;
    margin: 0 auto;
}

.section__price-select-tariff {
    justify-content: center;
}

.section__price-select-tariff h2 {
    max-width: 90px;
    margin: 0 auto;
    padding-bottom: 40px;

    /* text */
    font-size: 25px;
    font-weight: 700;
    line-height: 30px;
    text-align: center;
} 

.section__price-accordion {
    margin: 29px 22px ;
}

.section__price-accordion-block {
    display: flex;
    max-width: 230px;
    margin: 0;
    padding: 0;
}

.section__price-accordion-button {
    max-width: 180px;
    margin-bottom: 14px;
}

.section__price-accordion-button p {
    max-width: 89px;
    padding-left: 30px;
    padding-top: 16px;
    font-size: 15px;
    line-height: 20px;
    color: #000000;
}

.section__price-picture {
    display: none;
}

.section__price-header {
    max-width: 230px;
    padding: 0;
}

.section__price-title {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}


.section__price-title h2 {
    max-width: 230px;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
    padding-bottom: 14px;
    padding-top: 14px;
}


.section__price-button {
    width: 121px;
    padding: 12px 0;
    font-size: 15px;
    line-height: 20px;
    margin: 0 auto;
}




/* CONTACTS 380px */

.section__contact {
    max-width: 380px;
}

.contact__title {
    padding-top: 25px;
    height: 34px;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    margin-bottom: 80px;
}

.section__contact-address {
    max-width: 300px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
}

.section__contact-address img {
    margin: 0;
    padding: 0;
    width: 100px;
    height: 124px;
}

.section__contact-form {
    height: 50x;
    width: 300px;
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 132px;
}


 /* FOOTER 380px */

 .footer__container {
    max-width: 210px;
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
    padding: 22px 25px;
    line-height: 24px;
    align-items: center;
    text-align: center;
}

.footer__date-info {
    display: flex;
    justify-content: space-between;
    width: 173px;
    padding-right: 0;
    font-family: Inter;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.footer__date-info a{
    margin: 0;
    display: flex;
    justify-content:center;
    align-items: center;     
}

.footer__social-media {
    width: 188px;
}


}
